# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/
bio-native/bio-native.iml
bio-native/src/test/
bio-native/target/
echo-project/echo-project.iml
echo-project/src/main/resources/
echo-project/src/test/
echo-project/target/
millionServer/millionServer.iml
millionServer/target/
netty-projects.iml
out/
.gitignore